.compra-header {
  text-align: center;
  margin-bottom: 40px;
}

.compra-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

/* CARD DESCRIÇÃO */
.card-descricao {
  border: 1px solid #bd9617;
  border-radius: 16px;
  padding: 28px;
}

.card-descricao h2 {
  margin-bottom: 20px;
}

.card-descricao ul {
  list-style: none;
  padding: 0;
}

.card-descricao li {
  font-weight: 600;
  margin-bottom: 14px;
  line-height: 1.6;
}

/* CARD FORM */
.card-form {
  border-radius: 16px;
  padding: 28px;
}

.card-form label {
  display: block;
  margin-bottom: 18px;
}

.card-form input,
.card-form textarea {
  width: 100%;
  margin-top: 6px;
  padding: 12px;
  border-radius: 10px;
  border: none;
}

.card-form textarea {
  resize: vertical;
}

#btn-enviar {
  width: 100%;
  margin-top: 10px;
  padding: 14px;
  border-radius: 12px;
  border: none;
  font-weight: 700;
  cursor: not-allowed;
  background: #555;
  color: #fff;
  transition: 0.3s;
}

#btn-enviar.ativo {
  cursor: pointer;
  background: #bd9617;
  color: #0b1c2d;
}

@media (max-width: 768px) {
  .compra-grid {
    grid-template-columns: 1fr;
  }
}

/* AJUSTE DE ESPAÇAMENTO SUPERIOR DA PÁGINA DE COMPRA */
.compra-page h1 {
  margin-top: 100px;
}

